/* MainPage.module.css */
.mainContainer {
  width: 80%;
  margin: 0 auto;
}

.paginationButtons {
  display: flex;
  justify-content: space-between; /* Space out the buttons evenly */
  margin-bottom: 1rem; /* Add some space below the buttons */
}


.tableHeader {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase; /* Makes the header text uppercase */
  background-color: #e6e2e0; /* Header background color */
  border-radius: 8px;
}

.tokenRow {
  text-decoration: none; /* Removes the underline from links */
  color: inherit; /* Inherits the text color from parent */
  display: flex;
  padding: 15px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 10px; /* Rounded corners for the token rows */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.tokenRow:hover {
  background-color: #f3f3f3; /* Color change on hover */
}


.tokenIndex {
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Makes the index bold */
  margin-right: 10px; /* Adds some space between the index and icon */
  color: #333; /* Color for the index */
}

.tokenLink {
  display: flex;
  align-items: center;
  text-decoration: none; /* Removes the underline from links */
  color: inherit; /* Inherits the color from parent elements */
  flex-grow: 1; /* Allows the link to fill the available space */
}

.tokenIcon {
  /* Style for the token icon */
  margin-right: 1rem;
}

.tokenName, .tokenSupply, .tokenHolders {
  flex: 1; /* Each section takes up equal space */
  text-align: center; /* Centers text in each section */
}

.button {
  color: #213547;
}