/* TokenView.module.css */
.tokenViewContainer {
    width: 80%;
    margin: 0 auto;
  }
  
  .tokenInfo {
    margin-top: 20px;
  }
  
  .tabs {
    margin-top: 20px;
  }
  
  .tabs button {
    background-color: #e6e2e0;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tabs button:hover {
    background-color: #dcd7d5;
  }
  
  .activeTab {
    background-color: #c4bdbb;
  }
  
  .tabContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  .holdersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px;
  }
  
  .holderItem {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .balance {
    font-weight: 500;
    color: rgb(33, 129, 194);
  }

  .address {
    font-weight: bold;
    cursor: pointer; /* Add pointer cursor to indicate clickable */
  }
  
  .address:hover {
    text-decoration: underline; /* Add underline on hover */
    animation: addressHover 0.5s ease; /* Add hover animation */
  }

  .paginationButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .paginationButtons button {
    background-color: #e6e2e0;
    border: none;
    padding: 10px 20px;
    margin: 0 5px; /* Adjust margin to increase or decrease space between buttons */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .paginationButtons button:hover {
    background-color: #dcd7d5;
  }
  
  .paginationButtons button:disabled {
    background-color: #ccc; /* Change disabled button color */
    cursor: not-allowed;
  }

  .transactionsContainer {
    margin-top: 0px;
  }
  
  .transactionList {
    list-style: none;
    padding: 0;
  }
  
  .transactionItem {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    
  }
  
  .transactionItem > div {
    flex: 1 1 50%; /* Display two columns */
    padding: 10px;
  }
  
  .transactionItem > div:nth-child(odd) {
    border-right: 1px solid #ccc; /* Add border between columns */
  }
  
  .transactionItem > div:nth-child(6n + 1) {
    border-right: none; /* Remove border for the first column of each row */
  }
  
  .transactionItem a {
    text-decoration: none;
  }
  
  .transactionItem a:hover {
    text-decoration: underline;
  }
  
  @keyframes addressHover {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Add any additional styling as needed */
  